{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <h2 class="text-center">All Fundraisers</h2>
        {{ render(controller('AppBundle\\Controller\\FundraiserController::listAction')) }}
    </div>
</div>
{% endblock %}