<div class="row">
    {% for fundraiser in fundraisers %}
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 clearfix">
            <div class="thumbnail clearfix">
                {% if fundraiser.thumbnail is defined and (fundraiser.thumbnail starts with 'http://' or fundraiser.thumbnail starts with 'https://') %}
                <img src="{{ fundraiser.thumbnail }}" alt="Thumbnail for {{ fundraiser.name }}">
                {% endif %}
                <div class="caption">
                    <h3>{{ fundraiser.name }}</h3>
                    <p class="stars">
                        {% for i in 0..4 %}
                            {% if i < fundraiser.avgRating %}
                                <span class="glyphicon glyphicon-star"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                            {% endif %}
                        {% endfor %}
                    </p>
                    <p class="reviews-button"><a href="{{ path('fundraiser_show', { 'id': fundraiser.id }) }}" class="btn btn-primary" role="button">Reviews</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>